@import "tailwindcss";
@font-face {
  font-family: 'costco';
  src: url('../resources/Futura Extra Bold Oblique.otf') format('opentype');
}
@theme {
  --breakpoint-icon: 250px;
  --breakpoint-arbitrary: 1px;
  --font-costco: "costco", courier;
  --animate-fade: fade 1s linear infinite;
  --animate-fade-in: fade-in 1s ease-in-out;
  --animate-fade-in-fast: fade-in 0.2s ease-in-out;
  --animate-slide-in-fast: slide-in 0.2s ease-in-out;
  @keyframes fade {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
  }
  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes slide-in {
    0% { top:50px }
    100% { top:0 }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e7eb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

